<h1 style="color:purple; text-align:center">Tableaux à une dimension</h1>

Un tableau est un regroupement de valeurs portant le même nom de variable et repérées par un numéro. Il permet de ranger un nombre <mark>fini</mark> d’éléments de <mark>même type</mark> et selon une disposition bien définie. Le numéro qui permet de repérer chaque valeur s’appelle l’<mark>indice</mark>.

<table style="text-align:center">
<tr>
    <td></td>
	<td>-8</td>
	<td>-7</td>
	<td>-6</td>
	<td>-5</td>
	<td>-4</td>
	<td>-3</td>
	<td>-2</td>
	<td>-1</td>
</tr>
<tr>
    <td>T</td>
	<td style="border:solid">20</td>
	<td style="border:solid">25</td>
	<td style="border:solid">-5</td>
	<td style="border:solid">10</td>
	<td style="border:solid">10</td>
	<td style="border:solid">-52</td>
	<td style="border:solid">14</td>
	<td style="border:solid">3</td>
</tr>
<tr>
    <td></td>
	<td>0</td>
	<td>1</td>
	<td>2</td>
	<td>3</td>
	<td>4</td>
	<td>5</td>
	<td>6</td>
	<td>7</td>
</tr>
</table>

<h2 style="color:red">Déclaration Algorithmique</h2>

<table style="text-align:center">
<tr>
    <td colspan=2 style="font-size:30px">Tableau de Déclaration des Objets(T.D.O)</td>
</tr>
<tr>
    <td style="border:solid; font-size:30px">Objet</td>
	<td style="border:solid; font-size:30px">Type/Nature</td>
</tr>
<tr>
    <td style="border:solid; font-size:20px">Nom_Tableau <br/> T</td>
    <td style="border:solid; font-size:20px">Tableau de &lt;<mark>nombre de cases</mark>&gt; &lt;<mark>type des éléments</mark>&gt;
    <br/> Tableau de 100 réels
    </td>

</tr>
</table>

<h2 style="color:red">En Python</h2>

La bibliothèque NumPy (http://www.numpy.org/) permet d’effectuer des calculs numériques avec Python. Elle introduit une gestion facilitée des tableaux de nombres.

Il faut au départ importer le package numpy avec l’instruction suivante :

In [3]:
import numpy as np

<h2 style="color:blue">Variables prédéfinies</h2>

In [4]:
print(np.pi)

3.141592653589793

<h2 style="color:blue">Création</h2>

Les tableaux (en anglais, array) peuvent être créés avec numpy.array(). On utilise des crochets pour délimiter les listes d’éléments dans les tableaux.

In [5]:
t=np.array([1,2,3,4,5,6])

<h3 style="color:orange">Création avec type</h3>

Au moment de la création d'un tableau on peut définir le type des éléments avec le paramètre "dtype"

In [6]:
t1=np.array([1,5,4,8], dtype=int)
t2=np.array([1,5,4,8], dtype=float)
t3=np.array([True,False,False,True], dtype=bool)
print("Tableau d'entiers: ",t1)
print("Tableau de réels: ",t2)
print("Tableau de booléens: ",t3)

Tableau d'entiers:  [1 5 4 8]
Tableau de réels:  [1. 5. 4. 8.]
Tableau de booléens:  [ True False False  True]

<h2 style="color:blue">Affichage</h2>

In [7]:
print(t)

[1 2 3 4 5 6]

<h2 style="color:blue">Accès aux éléments d’un tableau</h2>

In [8]:
print(t[0])

1

In [9]:
t[-2]=55

In [10]:
print(t)

[ 1  2  3  4 55  6]

<h2 style="color:blue">création directe</h2>

Il est souvent plus efficace, surtout pour les tableaux larges, de les créer directement. Numpy contient plusieurs fonctions pour cette tâche.

création d'un tableau de 10 <mark>zéros</mark>

In [29]:
v=np.zeros(10 ,dtype=int)
print(v)

[0 0 0 0 0 0 0 0 0 0]

Création d'un tableau de 10 <mark>uns</mark>

In [30]:
v=np.ones(10, dtype=int)
print(v)

[1 1 1 1 1 1 1 1 1 1]

création d'un tableau rempli d'une même <mark>valeur donnée</mark>

In [15]:
v=np.full(10, 5)
print(v)

[5 5 5 5 5 5 5 5 5 5]

Création d'un tableau contenant une <mark>séquence</mark>, en définissant le début et la fin de la séquence

In [38]:
t=np.arange(2,10)
print(t)

[2 3 4 5 6 7 8 9]

Création d'un tableau contenant une séquence par <mark>pas</mark> donné

In [42]:
t=np.arange(1,10,2)
print(t)

[1 3 5 7 9]

Création d'un tableau rempli <mark>aléatoirement</mark>

In [19]:
# création d'un tableau de 8 éléments avec des entiers aléatoire de l'intervalle [0,9]
t=np.random.randint(10,size=8)
print(t)

[8 9 4 4 0 4 6 5]

<h2 style="color:blue">Acces a un élément du tableau</h2>

In [13]:
t=np.array([1,5,4,9,6,7])

# Pour accéder au premier élément
print(t[0])

1

In [15]:
t=np.array([1,5,4,9,6,7])

# Pour accéder au dernier élément
print(t[-2])

6

In [16]:
t=np.array([1,5,4,9,6,7])

# on peut aussi modifier un élément
t[2]=33
print(t)

[ 1  5 33  9  6  7]

<h2 style="color:blue">Acces à une séquence (Slicing)</h2>

In [20]:
T=np.arange(1,10)

# les élément de l'indice 1 à l'indice 4
x=T[1:5]
print(x)

[2 3 4 5]

In [21]:
T=np.arange(1,10)

# liste des elements de l'indice 1 à l'indice 4 par pas =2
x=T[1:5:2]
print(x)

[2 4]

In [22]:
T=np.arange(1,10)

# liste des elements de début du tableau jusqu'à lélement d'indice 4
x=T[:5]
print(T)
print(x)

[1 2 3 4 5 6 7 8 9]
[1 2 3 4 5]

In [23]:
T=np.arange(1,10)

# liste de élément de l'élément d'indice 5 jusqu'au dernier
x=T[5:]
print(T)
print(x)

[1 2 3 4 5 6 7 8 9]
[6 7 8 9]

In [62]:
T=np.arange(1,10)

# Si le pas est négatif, le début et la fin du slice sont inversés. 
# On peut utiliser cette propriété pour inverser un tableau.
x=T[::-1]
print(T)
print(x)

[1 2 3 4 5 6 7 8 9]
[9 8 7 6 5 4 3 2 1]