# Les tuples Python

Dans cette leçon, nous allons nous intéresser à un nouveau type de données composites Python qui peut faire penser aux listes à premières vue : les tuples. Nous allons souligner les différences entre les listes et les tuples, voir les cas d’usage des tuples et apprendre à créer des tuples.

## Présentation des tuples et cas d’utilisation

Les chaines de caractères et les listes sont deux types séquentiels de données : ce sont des données qui sont organisées sous la forme de séquence de caractères ou de valeurs. Les tuples sont un autre type séquentiel de données.

Les tuples ressemblent aux listes : un tuple consiste en différentes valeurs entourées par des virgules. Notez qu’on encadre généralement les valeurs d’un tuple avec un couple de parenthèses même si cela n’est pas obligatoire.

Les tuples peuvent contenir différents types de valeurs comme des nombres, des chaines, des listes etc. et même d’autres tuples imbriqués. Illustrons immédiatement cela :

In [3]:
t=1,2,3
t

(1, 2, 3)

In [4]:
t2="Moahmed", 29
t2

('Moahmed', 29)

In [5]:
t3=(1,2,"Mohamed")
t3

(1, 2, 'Mohamed')

In [9]:
t4=(1,2,["Ali",29],3)
t4

(1, 2, ['Ali', 29], 3)

In [8]:
t5=(1,2,("Ali",29),3)
t5

(1, 2, ('Ali', 29), 3)

In [10]:
t5=(1,2,["Ali",29],3)
t5[0]

1

In [12]:
t5=(1,2,["Ali",29],3)
t5[2]

['Ali', 29]

In [13]:
t6=(1,2,["Ali",29],3)
t6[2][0]

'Ali'

<font color='red'><strong>La grande différence entre un tuple et une liste est qu’un tuple est une donnée immuable à la différence d’une liste qui est altérable. Cela signifie qu’on ne va pas pouvoir modifier les valeurs d’un tuple après sa création.</strong></font>

Il va donc être intéressant d’utiliser des tuples plutôt que des listes dans les cas où on veut s’assurer que les données ne soient pas modifiées dans un programme.

## Création d’un tuple vide ou à une valeur

Notez que dans le cas où on souhaite créer un tuple vide, on utilisera une paire de parenthèses vides. Si on souhaite créer un tuple avec une seule valeur, alors il faudra faire suivre cette valeur d’une virgule.

In [16]:
vide=()
unique=("pierre",)
unique[0]

'pierre'

## Le déballage de séquence

Une fonctionnalité intéressante des tuples est le “déballage de séquence”. Un déballage de séquence correspond à une façon rapide d’affecter les différentes valeurs d’un tuple dans des variables séparées. Pour cela, il va nous falloir autant de variables qu’il y a de valeurs dans notre tuple. Ensuite, il va falloir respecter la syntaxe <strong>variable1, variable2 … = tuple</strong> comme ceci :

In [22]:
t=("Pierre",29,["Trail","Triathlon"])
nom,age,sport =t
nom

'Pierre'

In [23]:
t=("Pierre",29,["Trail","Triathlon"])
nom,age,sport =t
age

29

In [24]:
t=("Pierre",29,["Trail","Triathlon"])
nom,age,sport =t
sport

['Trail', 'Triathlon']

In [25]:
t=("Pierre",29,["Trail","Triathlon"])
nom,age,sport =t
t

('Pierre', 29, ['Trail', 'Triathlon'])